.shorter {
    background-color: #83C5BE;
    width: 30rem;
    height: 15rem;
    margin: auto;
    border-color: black;
    border-style: solid;
}

.subtitle {
    width: fit-content;
    margin: 1rem auto;
}

.input_zone {
    margin: 3rem 0 0 0;
    text-align: center;
}

input {
    width: 15rem;
    height: 2rem;
    background-color: #EDF6F9;
    border-style: none;
}